.App {
  text-align: center;
  margin: 2rem 3rem;
}

.tasks{
  text-align:left;
  max-width: 500px;
  margin: 0 auto;
}
.single-task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding:0.3rem;
}
.single-task:last-child{
  border-bottom: none;
}
.buttons{
  min-width:fit-content;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.buttons button{
  margin: 0.2rem;
}
