.App {
  text-align: center;
  margin: 2rem 3rem;
}
.main-input{
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid lightgray;
}
.tasks{
  text-align:left;
  max-width: 500px;
  margin: 0 auto;
}
.single-task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding:0.3rem;
}
.single-task:last-child{
  border-bottom: none;
}
.single-task .inputs{
  flex-basis:80%;
}
.single-task input[type='text']{
  border:none;
  width: fit-content;
  border-radius: 5px;
  padding:0.3rem;
  background-color: #f3f6f7;
  width:80%;
}
.single-task input[disabled]{
  background-color: white;
  color:black;
}
.buttons{
  min-width:fit-content;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.buttons button{
  margin: 0.2rem;
}
