@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@700&family=Poetsen+One&display=swap');
:root{
  --main-color: #392e2a; 
  --secondary-color: #80675f; 
  --main-bg:#EEE3CB;
  --list-bg:#FCFAF1; 
  --shadow-list:rgba(57, 46, 42, 0.4);
  --shadow-task:rgba(128, 103, 95, 0.2); 
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "LXGW WenKai Mono TC", monospace;
  background-color: var(--main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
